/**
 * TODO custom variables
 * TODO skalanlegt
 */

.cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
  max-width: calc(50% - var(--gap));
}

.card h2 {
  flex: 1;
  font-size: var(--font-size-card-title);
}

.card .content {
  display: flex;
  gap: var(--gap);
  flex-direction: column;
}

.card .image img {
  display: block;

  width: var(--fullwidth);
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}
