/**
 * TODO custom variables
 * TODO skalanlegt
 */

footer {
  display: flex;
  justify-content: center;
  padding: var(--gap);
  text-align: center;
  background-color: var(--color-background-alt);
  border-top: 2px solid var(--color-border);
}

footer .content {
  display: flex;
  flex-flow: nowrap column;
  gap: var(--gap);
  justify-content: center;
  max-width: var(--max-width-footer);
}

footer ul {
  list-style: none;
}

@media (width>700px) {
  footer .content {
    flex-flow: wrap row;
  }
}
