/**
 * TODO custom variables
 * TODO skalanlegt
 */

form {
  display: flex;
  flex-flow: wrap column;
  gap: var(--gap);
  width: var(--fullwidth);
  
}


form :nth-child(1) {
  order: 1;
  }
  
form :nth-child(2) {
  order: 3;
}

form :nth-child(3) {
  order: 4;
}

form :nth-child(4) {
  order: 2;
}

form :nth-child(5) {
  order: 5;
}

fieldset {
  border: 0;
}

fieldset legend {
  margin-bottom: 10px;
  font-size: var(--font-size-legend);
}

fieldset div {
  width: var(--fullwidth);
  margin-bottom: var(--gap);
}

fieldset div label {
  display: block;
}

fieldset input,
fieldset select,
fieldset textarea {
  width: var(--fullwidth);
  padding: 10px;
  background-color: var(--color-background-pure);
  border: 1px solid var(--color-border);
}

fieldset input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

@media (width >= 700px) {
  form {
    display: grid;
    grid-template-rows: repeat(var(--columns), 1fr);
    grid-template-columns: repeat(var(--columns), 1fr);
    
  }

  form fieldset {
    grid-row: span calc(var(--columns) / 2);
    grid-column: span calc(var(--columns) / 2);
    width: var(--fullwidth);
  }

}