/**
 * Fjarlægja gefið margin og padding af öllu.
 */
* {
  padding: 0;
  margin: 0;
}

/**
 * Setja border-box á öll element
 * => reiknum stærð box sem width + margin
 * padding + border ekki inní því.
 */
html {
  position: relative;
}

html::before {
  position: absolute;
  inset: 0;
  z-index: 1000;
  width: calc(100% - (2 * var(--offset)));
  max-width: var(--max-width);
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;
  content: '';
  background-image: var(--grid-background-columns);
  background-size: var(--grid-background-width) var(--fullwidth);
}
