/**
 * TODO custom variables
 * TODO skipta yfir í grid
 */
.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-triple);
  min-height: 100vh;
  margin-top: var(--spacing);
}

main {
  flex: 1;
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: 0 auto;
}
